@{
    ViewData["Title"] = "Home Page";
}

<!-- puts content into the styles section in the head -->
@section Styles{
<link href="css/todo.css" rel="stylesheet">
}

<div class="parent-container">
    <div class="side">Menu</div>
    <div class="content">Content</div>
    <div class="details">Create New</div>
</div>
