@{
    ViewData["Title"] = "Home Page";
}

<!-- puts content into the styles section in the head -->
@section Styles{
<link href="/css/todo.css" rel="stylesheet">
<link href="/lib/fontawesome-free-5.14.0-web/css/all.css" rel="stylesheet">
}

<div class="parent-container">
    <div class="side">Menu</div>

    <div class="content">
        <h4>My Tasks</h4>
        <i class="fas fa-plus"></i>
    
    <div id="tasks" class="section-tasks">

    </div>
    <div><button type="button" class="btn btn-primary">Completed</button></div>
    </div>
    <div class="details hide">Create New</div>
</div>

@section Scripts{
    <script src="js/calendar.js"></script>
}

