.parent-container{
    display: flex;
    height: 100%;
}

.side{
    flex: 1;
}
.content{
    flex: 1;
}
.details{
    flex: 1;
}
.details.hide{
    display: none;
}
.content{
    display: inline-block;
    background-color: rgb(14, 173, 173);
}
#tasks{
    display: inline-block;
}
.tasks{
    display: inline-block;
    background-color: white;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}
.task-content{
    display: inline-block;
}
.task-title{
    display: inline-block;
}

/*

to check for next class:
flexbox
GIT on TTH

to push changes:
add message
commit the changes
push to remote

Why is this not working
I dont seem to be able to push
Getting an error

*/