h4 {
    font-size: 2rem;
    color: white;
    margin-top: 1rem;
    margin-left: 1.1rem;
    margin-bottom: 1rem;
}

.parent-container{
    display: flex;
    height: 100%;
}

.side{
    flex: 1;
}
.content{
    flex: 1;
}
.details{
    flex: 1;
}
/* .details.hide{
    display: none;
} */
.content{
    display: inline-block;
    background-color: rgb(14, 173, 173);
    padding: 1rem;
    height: 100vh;
}
#tasks{
    display: inline-block;
}
.task{
    display: inline-block;
    background-color: white;
    padding: .5rem;
    border-radius: 8px;
    margin: .15rem 1rem;
    width: 45vw;
    box-shadow:  1px 3px 2px -2px black;
}
.task-content{
    display: inline-block;
}
.task-title{
    display: inline-block;
    margin-top: .5rem;
}
.task-notes{
    display: block;
    color: gray;
}
i.far.fa-circle.check {
    font-size: 2rem;
    color: lightgray;
    margin: 0 1rem;
    margin-top: 1.2rem;
    float: left;
}
i.fas.fa-star.important {
    font-size: 2rem;
    color: lightgray;
    margin: 0 .5rem;
    margin-top: 1.2rem;
    float: right;
    padding-right: 2rem;
}
i.fas.fa-plus{
    font-size: 1.5rem;
    color: white;
    padding: .5rem;
    float: right;
    margin-top: -3rem;
    margin-bottom: .5rem;
    margin-right: 4rem;
    background-color: rgb(123, 167, 235);
}
.btn-primary {
    color: #fff;
    background-color: rgb(123, 167, 235);
    border-color: #1861ac;
    margin: 1rem;
    font-size: 1.2rem;
    box-shadow:  1px 2px 2px -1.5px black;
}
#txtTitle{
    width: 45vw;
    height: 3rem;
    font-size: 1.5rem;
    margin: 2rem 2rem 0 1rem;
    border-radius: 5px;
    background-color: white;
    border: 2px solid rgb(14, 173, 173);
}
.details{
    padding: 1rem;
    height: 100vh;
    width: 45vw;
    /* background-color: #cecece; */
}
#txtNotes{
    width: 45vw;
    font-size: 1.5rem;
    margin: 1rem 2rem 0 1rem;
    border-radius: 5px;
    border: 2px solid rgb(14, 173, 173);
}
.important{
    font-size: 1.5rem;
    font-weight: 600;
    margin: 1rem .5rem 0 1rem;
    
}
#chkImportant{
    height:1.2rem;
    width:1.2rem;
    border: 2px solid rgb(14, 173, 173);
}
#btnSave{
    margin:1rem 2rem 0 1rem;
    font-size: 1.2rem;
    box-shadow:  1px 2px 2px -1.5px black;
    color: #fff;
    background-color: rgb(123, 167, 235);
}
#btnSave:hover{
    background-color: #5169d6;
}


/*

to check for next class:
flexbox
GIT on TTH

to push changes:
add message
commit the changes
push to remote

Why is this not working
I dont seem to be able to push
Getting an error

*/