.parent-container{
    display: flex;
    height: 100%;
}

.side{
    flex: 1;
}
.content{
    flex: 1;
}
.details{
    flex: 1;
}

/*

to check for next class:
flexbox
GIT on TTH

to push changes:
add message
commit the changes
push to remote

*/